@font-face {
  font-family: VerbBlack;
  src: url('../fonts/330BD5_1_0.eot');
  src: url('../fonts/330BD5_1_0.eot?#iefix') format('embedded-opentype'), url('../fonts/330BD5_1_0.woff2') format('woff2'), url('../fonts/330BD5_1_0.woff') format('woff'), url('../fonts/330BD5_1_0.ttf') format('truetype');
}

@font-face {
  font-family: VerbLight;
  src: url('../fonts/330BD5_9_0.eot');
  src: url('../fonts/330BD5_9_0.eot?#iefix') format('embedded-opentype'), url('../fonts/330BD5_9_0.woff2') format('woff2'), url('../fonts/330BD5_9_0.woff') format('woff'), url('../fonts/330BD5_9_0.ttf') format('truetype');
}

@font-face {
  font-family: VerbExtraLight;
  src: url('../fonts/330BD5_6_0.eot');
  src: url('../fonts/330BD5_6_0.eot?#iefix') format('embedded-opentype'), url('../fonts/330BD5_6_0.woff2') format('woff2'), url('../fonts/330BD5_6_0.woff') format('woff'), url('../fonts/330BD5_6_0.ttf') format('truetype');
}

@font-face {
  font-family: VerbExtraLight;
  src: url('../fonts/330BD5_7_0.eot');
  src: url('../fonts/330BD5_7_0.eot?#iefix') format('embedded-opentype'), url('../fonts/330BD5_7_0.woff2') format('woff2'), url('../fonts/330BD5_7_0.woff') format('woff'), url('../fonts/330BD5_7_0.ttf') format('truetype');
}

@font-face {
  font-family: VerbMedium;
  src: url('../fonts/330BD5_B_0.eot');
  src: url('../fonts/330BD5_B_0.eot?#iefix') format('embedded-opentype'), url('../fonts/330BD5_B_0.woff2') format('woff2'), url('../fonts/330BD5_B_0.woff') format('woff'), url('../fonts/330BD5_B_0.ttf') format('truetype');
}

body {
  font-family: 'VerbMedium';
}

.deck-logo {
  left: 3rem;
  position: fixed;
  top: 2.75rem;
  width: 6rem;
  z-index: 1000;
}

.deck-logo svg {
  width: 5rem;
}

.deck-container {
  background: #ffffff;
}

.deck-container > .slide {
  padding-left: 14rem;
  padding-top: 2.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(146, 208, 80);
  font-family: 'VerbExtraLight';
}
.syntaxhighlighter {
  background: #fff;
  border: 1px solid #cde;
  border-radius: 5px;
  overflow: visible !important;
  padding: 1em;
  position: relative;
  white-space: pre;
  width: auto !important;
  word-wrap: break-word;
  z-index: auto;
}

.csstransforms.boxshadow .syntaxhighlighter:before,
.csstransforms.boxshadow .syntaxhighlighter:after {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: 15px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
}

.csstransforms.boxshadow .syntaxhighlighter:before {
  left: 10px;
  transform: rotate(-3deg);
}

.csstransforms.boxshadow .syntaxhighlighter:after {
   right: 10px;
  transform: rotate(3deg);
}

.syntaxhighlighter .toolbar {
  display :none;
}

.syntaxhighlighter .gutter {
  display: none;
}

.syntaxhighlighter table td.code .line {
  padding: 0 !important;
}

.slide h2,
.deck-slide-scaler h2 {
  margin-bottom: .5em;
  margin-top: 0;
}

main.sourcecode {
  margin-left: 14rem;
  margin-top: 2.9rem;
  padding: 1rem;
}